body {
  background: pink;
  color: grey;
  font-family: "Open Sans", Arial, sans-serif;
}
strong {
  color: black;
}

.navbar {
  background:blue;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}



.progress-bar {
  height: 100%;
}